*{
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-outer{
    padding-left: 20px;
    padding-right: 20px;
}

/* === header === */

    /*=== nav ===*/
.section-header{
    background-image: url(../img/header-background.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
}
.section-inner{
    max-width: 1167px;
    margin: auto;
}
.inner-header{
    height: 1000px;
    position: relative;
}
.section-header-decoration{
    position: absolute;
    left:50%;
    margin-left: -172px;
    bottom: 0;
    z-index: 0;

}
.section-header-decoration img{
    width: 369px;
    height: 455px;
    margin-bottom: -50px;
}
.section-header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 60px;
}
.header-nav__list{
    display: flex;
}
@keyframes nav-list{
    from{
        margin-left: -400px;
        opacity: 0;
    }
    to{
        margin-top: 0px;
        opacity: 1;
    }
}
/* === SUBMENU ===*/

.header-submenu__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    visibility: hidden;
    position: absolute;
    top:-8px;
    opacity: 0;
    transition: 200ms;
    background-color:#fff;
    border-radius: 10px;
    animation-timing-function: ease;
}

  /* === /SUBMENU ===*/

.header-contact__list{
    display: flex;
    align-items: center;
    animation: contact-list 3s 1;
}
@keyframes contact-list{
    from{
        
        opacity: 0;
    }
    to{
        margin-left: 0;
        opacity: 1;
    }
}
.header-nav__item{
    margin-right: 40px;
    position: relative;
    display: inline-block;
    z-index:10;
}
.header-contact__item{
    margin-left: 30px;
}
.item-link{
    color: #26272d;
    transition:300ms;
}
.item-link:hover{
    opacity: 0.4;
    color: #1b1c1e;
    transition:300ms;
}
.item-btn{
    padding: 14px 25px 14px 50px;
    border-radius: 40px;
    color:#fff;
    background-color: #267df4;
    border:none;
    outline:none;
    position: relative;
    cursor: pointer;
    transition:300ms;
}
.item-btn:hover{
    box-shadow: 0 2px 4px #8c8f94;
    transition:300ms;
}
.item-btn:active{
    background: rgba(38,125,244, 0.7);
}
.item-btn::before{
    content:"";
    position: absolute;
    background-image: url(../img/Apple_Icon.svg);
    background-repeat: no-repeat;
    width: 17px;
    height: 20px;
    margin-left: -25px; 
    margin-top: -2px;
}
.section-header-logo{
    animation: header-logo 5s 1;

}
@keyframes header-logo{
    from{
       
        opacity: 0
    }
    to{
        margin-right: 0;
        opacity: 1;
    }
}
    /*=== /nav ===*/
.section-header-content{
    text-align: center;
}
.header-content__title{
    font-family: "Varela Round";
    font-size: 62px;
    margin-top: 128px;
    margin-bottom: 40px;
    animation: header-title 2s 1;
    
}
@keyframes header-title{
    from{
        
        opacity: 0;
    }
    to{
        
        opacity: 1;
    }
}

.header-content__subtitle{
    color: #8c8f94;
    font-size: 20px;
    line-height: 28px;
    width: 50%;
    margin: auto; 
    animation: header-subtitle 2s 1;  
}
@keyframes header-subtitle{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.header-content__button{
    margin-top: 60px;
    animation: header-btn 2.3s 1;
}
@keyframes header-btn{
    from{
        margin-right: -500px;
        opacity: 0;
    }
    to{
        padding-bottom: 0px;
        opacity: 1;
    }
}
.btn{
    padding: 20px 50px 20px 70px;
    border: 1px solid #8c8f94;
    border-radius: 55px;
    background:none;
    position: relative;
    cursor: pointer;
    outline: none;
    transition:300ms;
    z-index:50;
}
.btn:hover{
    box-shadow: 0 2px 4px #8c8f94;
    transition:300ms;
}
.btn:active{
    background: rgba(0,0,0, 0.1);
    outline: none;
}
.header-content__button::before{
    content:'';
    position: absolute;
    background-image: url(../img/Play_Icon.svg);
    width: 10px;
    height: 10px;
    margin-left: 40px;
    margin-top: 25px;

}
@media(max-width:540px){
    .section-header-decoration {
        margin-left: -149px;
    }
    .section-header-decoration img{
        width: 319px;
        height: auto;
    }
    .header-contact__list{
        display: none;
    }
    .header-menu-icon{
        position: absolute;
        margin-top: -5px;
    }
    .section-header-nav{
        justify-content: center;
        padding-top: 40px;
    }
    .header-content__title{
        margin-top: 50px;
        font-size: 50px;
    }
    .header-content__subtitle{
       font-size: 18px;
    }
    .header-content__button{
        margin-top: 40px;
    }
    .section-promo-wrapper{
        padding-top:0;
    }
    @keyframes header-subtitle{
        from{
            margin-left: -100px;
            opacity: 0;
        }
        to{
            margin-left: 0px;    
            opacity: 1;
        }
    }
}

@media (max-width:768px){
    .header-content__subtitle{
        width:100%;
    }
}
@media (min-width:769px){
    .header-content__subtitle{
        width:80%;
    }
}
@media (min-width:1141px){
    .header-content__subtitle{
        width:50%;
    }
}
@media (max-width:768px){
    .nav-link {
        display: none;
    }
    .section-header-nav{
       display: flex;
       justify-content: center;
    }
}
/* === /header =\= */

/* === promo === */
.section-promo{
    background-color: #fff;
    position: relative;
}
.inner-promo{
    border-bottom: solid 1px#F4F4F4;
}
.section-promo-wrapper{
    display: flex;
    justify-content: space-around;
    
    padding-top: 50px;
    margin-bottom: 100px;
}
.section-promo-wrapper__content{
    margin-top: 70px;
    padding-right: 20px;
    padding-left: 20px;

}
.content-title{
    font-size: 26px;
    font-weight: 300;
    line-height: 34px;
    padding-top: 45px;
    padding-bottom: 43px;
}
.content-subtitle{
    color: #8c8f94;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 35px;
    
}
.content-text{
    color: #8c8f94;
    font-size: 18px;
    line-height: 26px;
}
@media (max-width:768px){
    .section-promo-wrapper{
        justify-content: center;
        flex-direction: column;
        flex-basis: 100%;
    }
    .section-promo-wrapper{
        margin-bottom: 50px;
    }
}



/* === /promo === */




/* === protect === */
.section-protect{
    height: 100vh;
}
.inner-protect{
    
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}
.section-protect-decoration{
  position: absolute;
  left:0;
  margin-left: -200px;
  width:50%;
}
.section-protect-decoration img{
    width: 100%;
}
.section-protect-content{
    width: 40%;
    margin-left: auto;
}
.protect-title{
    color: #26272d;
    font-family: "Varela Round";
    font-size: 42px;
    line-height: 52px;
    padding-top: 0;
}
.section-protect-wrapper{
    display: flex;
    align-items: center;
    
}
.content-btn{
   margin-top: 30px;
   transition:300ms;
}
.protect-button-1{
    padding: 0;
    height: 40px;
    width: 200px;
    margin-right: 10px;
    animation: btn-1 4s 1;
}
@keyframes btn-1{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.protect-button-2{
    padding: 0;
    height: 40px;
    width: 142px;
    transition: 300ms;
    
    
}
@media(max-width:768px){
    .inner-protect{
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: solid 1px#F4F4F4;
    }
    .section-protect-decoration{
     display: none;
    }
    .section-protect-content{
        margin: auto;
        width : 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .section-protect-wrapper{
        margin-top: 50px;
    }
}
@media(max-width:540px){
    .section-protect-wrapper{
        flex-wrap: wrap;
    }
}
/* === /protect === */


/* === location === */

.inner-location{
    position: relative;
    margin-top: 00px;
    margin-bottom: 100px;
}
.section-location-decoration{
  position: absolute;
  right:0;
  margin-left: -200px;
  margin-top: 100px;
  width:50%;
}
.section-location-decoration img{
    width: 100%;
}
.section-location-content{
    width: 40%;
}
.location-title{
    color: #26272d;
    font-family: "Varela Round";
    font-size: 42px;
    line-height: 52px;
    padding-top: 0;
}
.section-location-wrapper{
    display: flex;
    align-items: center;
    
}
.content-partners{
    color: #26272d;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    /* Text style for "P, artners" */
    letter-spacing: 1.2px;

    padding-top: 68px;
}
.content-partners-wrapper{
    display: flex;
    margin-top: 30px;
}
.partner-2{
    margin-left: 20px;
}
@media(max-width:540px){
   
    .inner-location{
        height: auto;
    }
}
@media(max-width:768px){
    .inner-location{
        padding-top: 50px;
        padding-bottom: 50px;
        height: auto;
    }
    .section-protect{
        height: auto;
    }
    .section-location-decoration{
     display: none;
    }
    .section-location-content{
        margin: auto;
        width : 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* === /location === */





/* === interface === */
.section-interface{
    background-color: #f5f5f8;
}
.section-interface-title{
    font-family: "Varela Round";
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 60px;
    margin-bottom: 43px;
    position: relative;
}
.section-interface-title::before{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    border-radius: 1px;
    background-color: #267df4;
    bottom:0;
    left:50%;
    margin-left: -25px;
}
.section-interface-subtitle{
    color: #8c8f94;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
    margin-bottom: 40px;
}
.section-interface-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.interface-image{
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}
.interface-image img{
    transition: 300ms;
    cursor: pointer;
}

.interface-image img:hover{
    transition: 300ms;
    box-shadow: 3px 9px 16px rgba(61, 61, 62, 0.15);
    transform: scale(1.03, 1.03);
}

.section-newprovidence-subtitle{
    color: #8c8f94;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
}

.section-newprovidence-title{
    font-family: "Varela Round";
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}
@media(max-width:540px){
    
    .interface-image img{
        width: 280px;
        height: auto;

    }
}
@media(max-width:1140px){
    .section-interface-wrapper{
        flex-wrap:wrap;
    }
}

/* === /interface === */

/* === newprovidence === */
.section-newprovidence{
    background-color: #f5f5f8;
}
.inner-newprovidence{
    display: flex;
    justify-content: center;
    
}
.section-newprovidence-form__input{
    text-align: center;
    position: relative;
}
.form-input{
    width:90%;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 20px;
    border-radius: 40px;
    border: 1px solid #8c8f94;
    outline:none;
}
.form-btn{
    padding: 15px 55px 15px 30px;
    background-color: #6fc754;   
    position: absolute;
    margin-left: -167px;
    margin-top: 4px;
 
}
.form-btn::before{
    content:"";
    position: absolute;
    background-image: url(../img/Arrow_Icon.svg);
    background-repeat: no-repeat;
    width: 13px;
    height: 12px;
    right:0;
    margin-top: 3px;
    margin-right: 24px;
}
.section-newprovidence-download{
    width: 210px;
    margin: auto;
    margin-top: 66px;
}
.download-subtitle{
    opacity: 0.3;
    color: #3a3d4b;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: center;
    margin-bottom: 22px;
}
.download-link{
    background-color: #000;
    padding: 13px 0px 13px 69px;
    border-radius:40px;
    position: relative;
    margin-bottom: 130px;
}
.download-link::before{
    content:"";
    position: absolute;
    background-image: url(../img/Apple_Logo.svg);
    width: 24px;
    height: 28px;
    left:0;
    margin-left: 27px;
    margin-top: 3px;
}
.download-link a{
    color:#fff;
}
.download-link-text1{
    font-size: 12px;
}
.download-link-text2{
    font-size: 22px
}
@media(max-width:540px){}
/* === /newprovidence === */

/* === slider === */
.inner-slider{
    border-bottom: solid 1px#F4F4F4;
    position: relative;
}
.section-slider-images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    position: relative;
}
.slider-arrow{
    position: absolute;
    width: 22px;
    height: 41px;
    opacity: 0.6;
    top:50%;
    cursor: pointer;
}
#right-button{
    right: 50px;
}
.slider-arrow:hover{
    opacity: 1;
}
#left-button{
    left: 50px;
}
.section-slider-wrapper{
    display: flex;
    justify-content: center;
}
.slides-item{
    transition: 500ms;
    animation: slides 1s 1;
    animation-timing-function: ease;
}
@keyframes slides{
    from{
        opacity: .3
    }
    to{
        opacity: 1;
    }
}

.section-slider-content{
    margin-top: 100px;
    text-align: center;
    width: 60%;
}
.slider-content-title{
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    padding-top:75px;
    padding-bottom: 50px;
    color: #26272d;
}
.slider-content-text{
    color: #8c8f94;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;

}

.slider-content-others{
    display: flex;
    align-items: center;
    justify-content: center;
}
.others-star{
    opacity: 0.5;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 70px;
    cursor: pointer;
}
.others-star:hover{
    opacity:1;
}

.slider-content-undertitle{
    text-align: center;
    color: #26272d;
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    /* Text style for "C, ameron" */
    letter-spacing: 1.2px;
    margin-bottom: 100px;
}
@media(max-width:768px){
    .slider-arrow{
        top:200px;
    }
    #left-button{
        left: 10px;
    }
    #right-button{
        right:10px;
    }
}
@media(max-width:540px){
    .slider-arrow{
        top:150px;
    }
    #left-button{
        left: 10px;
    }
    #right-button{
        right:10px;
    }
}
/* === /slider === */

/* === footer === */
.section-footer-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;

}
.section-footer-social{
    width: 250px;
}
.footer-social__text{
    color: #8c8f94;
    font-size: 14px;
    line-height: 24px;
    margin-top: 34px;
    margin-bottom: 32px;
}
.section-footer-nav{
    display: flex;
}
.footer-nav__list{
    font-size: 12px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    margin-left: 70px;
}
.footer-nav__item{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: none;
    margin-top: 15px;
}

.footer-link{
    color: #8c8f94;
}
.footer-link:hover{
    color: #575a5f;
}
.footer-button{
    margin: 0;
    border-radius: 10px;
}
.section-footer-copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top:solid 1px#F4F4F4;
}
.footer-copyright-link{
    font-size: 14px;
    line-height: 24px;
    /* Text style for "For more f" */
    color: #8c8f94;
}
.footer-copyright-link a{
    color: #3b55e6;
    text-decoration: underline;
}
.section-footer-copyryght__wrapper{
    display:flex;
    align-items: center;
}
.footer-copyright-text{
    color: #26272d;
    font-size: 9px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    margin-right: 10px;
}
@media (max-width:540px){
    .section-footer-nav{
        flex-direction: column;
    }
    .footer-nav__list{
        margin-left: 30px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .footer-nav__list:hover{
        opacity:0.8;
    }
    .footer-nav__item{
        display: none;
    }
    .footer-copyright-text{
        display: none;
    }
}
/* === /footer === */


/* === pop-up=== */
#window{
    position: fixed;
    top:16%;
    left:50%;
    margin-left: -15%;
    
    z-index:150;
    display: none;
    animation: pop-up 1s 1;
    width: 30%;
    border-radius: 20px;
    background-color: #f5f5f8;
    animation: pop-up .5s 1;
}
@keyframes pop-up{
    from{
        transform: scale(0,0);
    }
    to{
        transform: scale(1,1);
    }
}
#close{
    background-color: rgba(0,0,0, 0.1);
    position: fixed;
    left:0;
    right:0;
    bottom:0;
    top:0;
    display: none;
    z-index: 100;
}
.form{
    text-align: center;
}
.form-title{
    color: #26272d;
    font-family: "Varela Round";
    font-size: 30px;
    padding-top: 32px;
    
}
.form-modal-input{
    width:70%;
    height: 40px;
    border-radius: 40px;
    border:none;
    margin-top: 30px;
    padding-left: 20px;
}
.form-label{
    cursor: pointer;  
    padding-right: 35%;
}

.form-modal-checkbox{
    margin-top: 20px;
    
}
.form-modal-checkbox-text{
}
.modal-btn{
    margin-top: 20px;
    padding: 14px 65px 15px 90px;
}
.signup-btn{
    color: #267df4;
    font-family: "Lato";
    font-size: 18px;
    padding: 10px 25px 10px 25px;
    margin-top: 10px;
    border:1px solid #267df4;
    border-radius: 31px;
    background: none;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    transition:300ms;
}
.signup-btn:hover{
    box-shadow: 0 2px 4px #8c8f94;
    transition:300ms;
}
.form-text{
    color: #a7a7a8;
    font-family: "Lato";
    font-size: 14px;

}
.modal-forgot-link{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
}
.modal-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    padding-bottom: 40px;
}
.close-window{
    cursor: pointer;
    position: absolute;
    right:15px;
    top:10px;
}
.close-window:hover{
    opacity: 0.7;
}

/* === /pop-up=== */
