/* *{
    padding: 0;
    margin: 0;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
    max-width: 360px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
}
.content-img{
    width: 70%;
    margin: auto;
    transition: all .2s linear;
}
.content-img img{
    width: 100%;
}
.text{
    text-align: center;
    padding-top: 20px;
    font-size: 24px;
} */


/* =========================== test ============================= */

div {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color:green;
  }

  div strong{
     font-size: 1.2em;
     color:red;  
  }

  div span{
     color:blue;  
  }
  .test{
      width: 100px;
      height: 100px;
      padding: 20px;
      margin: auto;
      background-color: aquamarine;
      perspective: 1000px;
      transform-style: preserve-3d;
      transition: all .2s linear;
  }