mixin case__item(image, count, title)
    .case__item
        .case__item-image
            img(src= image)
        .case__item-wrapper
            .case__item-count= count
            .case__item-title= title