*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


/* === container top ===*/

.container{
    background-color: rgb(44, 44, 44);
    height: 100vh;
}
.container-top{
    position: relative;
}

.particles{
    height: 100vh;
}

.title{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 50px;
    opacity: 0;
    transition: all .6s ease-in;
}


.title_active{
    animation: title_active 2s 1 ease-in;
}

@keyframes title_active{
    from{
        opacity: 0;
    }
    25%{
        opacity: 1;
    }
    75%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

/* === form ===*/
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .6s ease-in;
}
