.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important; }

.section-header__nav-list {
  animation: nav 1.5s 1 ease-out; }

@keyframes nav {
  from {
    transform: translateX(-100%);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

.section-header__logo {
  animation: logo 2s 1 ease-out; }

@keyframes logo {
  from {
    transform: translateX(-1000px);
    opacity: 0; }
  to {
    transform: translateX(0);
    opacity: 1; } }

.section-header__contact-addres {
  animation: addres 1s 1 ease; }

@keyframes addres {
  from {
    transform: translateY(1000px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

.section-header__contact-phone {
  animation: addres 1.5s 1 ease; }

@keyframes phone {
  from {
    transform: translateY(1000px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

.section-header__content::before {
  animation: mouse .5s 1 ease-out; }

@keyframes mouse {
  from {
    transform: scale(0);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

.section-header__content {
  animation: title 2s 1; }

@keyframes title {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
