.footer{
    background: linear-gradient(to right, #F1F1F1, #F1F1F1 50%, #EBEBEB 50%, #EBEBEB 100%);
    padding-top: 110px;
    padding-bottom: 110px;
    &__wrp{
        display: flex;
    }
    &__addres{
        width: 50%;
        &-text{
            font-weight: 300;
            font-size: 24px;
            line-height: 180%;
            max-width: 450px;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
        &-email{
            font-weight: 300;
            font-size: 24px;
            margin-bottom: 20px;
        }
        &-follow{
            position: relative;
            padding-right: 40px;
            display: flex;
            align-items: center;
            &-link{
                color: $color-black1D;
                font-weight: bold;
                font-size: 24px;
                text-transform: uppercase;
                margin-right: 20px;
            } 

        }
    }
    &__nav{
        width: 50%;
        padding-left: 117px;
        @media (max-width:1280px) {
            padding-left: 0px;
        }
        &-list{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        &-item{
            &--marginBottom{
                margin-bottom: 15px;
            }
        }
        &-link{
            color: $color-black1D;
            font-weight: bold;
            font-size: 20px;
            line-height: 180%;
            text-transform: uppercase;
        }
        &-subitem{
            padding-bottom: 15px;
        }
        &-sublink{
            color: $color-black1D;
            font-weight: 300;
            font-size: 20px;
            text-transform: uppercase;

        }
    }
}