.page{
    max-width: 1920px;
    margin: auto;
    overflow: hidden;
    
}
.container{
    max-width: 1410px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width:1280px){
        padding-right: 50px;
        padding-left: 50px;
    }
}
.bold{
    font-weight: bold;
}
.header{
    position: relative;
    z-index: 1;
    padding-bottom: 200px;
    @media (max-width:1280px) {
        padding-bottom: 120px;
    }
    &__decoration--topLeft{
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        & svg{
            width: 980px;
            height: 1100px;
            @media (max-width:1280px) {
                width: 750px;
                height: 900px;
            }
        }
    }
    &__decoration--right{
        position: absolute;
        right: 0;
        top: 185px;
        
        width: 35%;
        & img{
           width: 100%;
        }
    }
    &__top{
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid rgba($color: #171717, $alpha: .1);
        &-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__logo{
        & a{
            color: $color-black1D;
            font-size: 24px;
        }
    }
    &__estimate{}
    &__button{
        width: 210px;
        height: 60px;
        font-weight: 600;
        font-size: 18px;
        color: $color-secondary;
        border: 1px solid $color-black;
        &:hover{
            background: $color-black;
            color: $color-white;
        }
    }
    &__wrp{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav{
        &-list{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-item{
            margin-right: 40px;
        }
        &-link{
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            color: $color-black1D;
        }
    }
    &__mid{
        margin-top: 170px;
        @media (max-width:1280px) {
            margin-top: 116px;
        }
        &-text{
            font-size: 48px;
            line-height: 180%;
            margin-bottom: 30px;
            padding-left: 30px;
            position: relative;
            @media (max-width:1280px) {
                font-size: 38px;
            }
            &::before{
                position: absolute;
                content: '';
                height: 300px;
                width: 10px;
                background-color: $color-black;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &-work{
            padding-bottom: 160px;
        }
        &-button{
            color: $color-white;
            font-size: 18px;
            font-weight: 600;
            width: 257px;
            height: 66px;
            border: 1px solid $color-black;
            background: $color-black;
            &:hover{
                background: $color-white;
                color: $color-black;
            }
        }
    }
    &__scroll{
        margin-bottom: 90px;
        letter-spacing: 0.1em;
        display: inline-block;
        position: relative;
        @media (max-width:1280px) {
            margin-bottom: 170px;
        }
        &::before{
            position: absolute;
            content: '';
            background-image: url("../img/blocks/header/svg/scroll.svg");
            background-repeat: no-repeat;
            background-size: cover;
            top: -35px;
            left: 50%;
            transform: translateX(-50%);
            width: 12px;
            height: 20px;

        }
    }
    &__decoration--strips{
        position: absolute;
        right: -125px;
        top: -30px;
    }
    &__bottom{
        position: relative;
        &-wrp{
            display: flex;
            justify-content: space-between;
        }
        &-title{
            padding-left: 75px;
            font-weight: bold;
            font-size: 30px;
            line-height: 180%;
            text-transform: uppercase;
            position: relative;
            height: 40px;
            
            &::before{
                position: absolute;
                content: '';
                width: 10px;
                height: 83px;
                border-left: 2px solid $color-black;
                border-right: 2px solid $color-black;
                left: 40px;
                bottom: 0;
            }
        }
    }
    &__company{
        display: flex;
        margin-right: 80px;
        @media (max-width:1280px) {
            margin-right: 0px;
        }
        &--blockHeight{
            height: 100px;
            @media (max-width:1280px) {
                height: 80px;
            }
        }
        &-wrp{
            width: 50%;
        }
        &-wrp--marginRight{
            margin-right: 60px;
            @media (max-width:1280px) {
                margin-right: 0px;
            }
        }
        &-icon{
            margin-right: 0;
            display: flex;
            justify-content: center;
            margin-bottom: 40px;    
            & img{
                width: 90%;
                @media (max-width:1280px) {
                    width: 70%;
                }
            }
        }
    }
}
