@import "./normalize.scss";

$font-MerriWeather: 'Merriweather', serif;
$font-GreatVibes: 'Great Vibes', cursive;
$font-Roboto: 'Roboto',sans-serif;
$background-color-btn: #80405F;
$secondary-color:#e0c1d0;

$media-sm: 540px;
$media-md: 768px;
$media-lg: 960px;
$media-xl: 1140px;



body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    background-image: url(../img/body-bg.png);// можно оптимизировать, обрезав изображение

}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.section-outer{
    max-width: 1920px;
    margin: auto;
}
.section-inner{
    max-width: 1140px;
    margin:auto;
}
.btn{
    font-family: inherit;
    background-color: $background-color-btn;
    border-radius: 40px;
    border:none;
    cursor: pointer;
    outline: none;
    color:#fff;
    
}
.btn:hover{
    box-shadow: 0 10px 15px rgba(99, 44, 71, 0.33);
    background: linear-gradient(36deg, #d73a86, #80405f);
}
.btn:active{
    background: #80405F;
}
.content-title{
    font-size: 36px;
    letter-spacing: 2.16px;
    text-align: center;
    color: #242424;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
}
.content-text{
    color: #242424;
    font-family: $font-MerriWeather;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1.08px;
}
.nav-link{
    color: #2c2c2c;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 5px;
    &:hover{
        
        opacity: 0.7;
    }
}
//=============================================================/
.section-outer{
    padding-right: 20px;
    padding-left: 20px;
}
/* === header ===*/
.section-header{
    background-color: #cca3b7;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items:center;
        height: 89px;
        animation: header 3s 1;
        &__logo{
            display: flex;
            align-items: center;
        }
        .logo-text{
            font-family: $font-GreatVibes;
            font-size: 30px;
            letter-spacing: 1.8px;
            margin-left: 10px;
            &-bottom{
                margin-left: 55px;
            }
        }
        &__nav-list{
            display: flex;
        }
        .nav-item{
            padding-left: 10px;
            padding-right: 10px;
        }
        
        &__number{
            font-family:$font-Roboto;
            padding: 13px 9px 13px 9px;
            border-radius: 30px;
            border: 1px solid #80405f;
        }
        &__cart{
            display: flex;
            align-items: center;
            .cart-image{
                margin-right: 24px;
            }
            .cart-text{
                font-family: $font-Roboto;
                height: 30px;
                text-transform: uppercase;
            }
        }
    }
    @keyframes header {
        from{
            opacity: 0;  
        }
        to{
            opacity: 1;
        }
    }
}
@media(max-width:$media-md){
    .section-header-wrapper{
        justify-content: space-around;
    }
    .section-header-wrapper__cart{
        display: none;
    }
}
@media(max-width:$media-xl){
    .section-header-wrapper__number{
        display: none;
    }
}
   
/* === /header ===*/


/* === intro ===*/
.section-intro{
    position: relative;
}
.section-intro{
    background-image: url(../img/background-intro.png);
    background-position: center;
    height: 715px;
    
    .section-inner{
        display: flex;
        justify-content: center;
    }
    &-wrapper{
        margin-top: 129px;
        z-index: 10;
        animation: intro-wrapper 4s 1;
        &__subtitle{
            color: #fffefe;
            font-size: 30px;
            letter-spacing: 1.8px;
            margin-left: 50px;
            margin-bottom: 14px;
            animation: title 4s 1;
        }
        &__title{
            color: #ffffff;
            font-family: $font-GreatVibes;
            font-size: 135px;
            letter-spacing: 8.1px;
            animation: title 4s 1;
        }
        &__btn{
            text-align: center;
            margin-top: 90px;
            
        }
        .intro-btn{
            font-size: 20px;
            letter-spacing: 1.2px;
            padding: 20px 30px 20px 30px;
        }
    }
    &-decoration-1{
        position: absolute;
        right: 0px;
        top: 70px;
        z-index: -2;
        width:50%;
        animation: decoration-1 5s 1;
    }
    &-decoration-2{
        position: absolute;
        left:0;
        top: 340px;
        z-index: -3;
        width:50%;
        animation: decoration-2 3s 1;
    }
    @keyframes title {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    @keyframes decoration-1 {
        from{
            opacity: 0;
            
        }
        to{
            opacity: 1;
            
        }
    }
    @keyframes decoration-2 {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
}
/* === /intro ===*/

/* === about ===*/
.section-about{
    position: relative;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 100px;
        .section-about-image{
            padding-right: 30px;
        }
        .about-image-1{
            width:100%;
        }
    }
    &-content{
        &__title{
            text-align: left;
            font-weight: 500;
        }
        &__text{
            max-width: 421px;
        }
    }
}
/* === /about ===*/

/* === catalog ===*/
.section-catalog{
    position: relative;
    &-decoration{
        position: absolute;
        left: -300px;
        top:-280px;
    }
    &-search{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__sorting{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 550px;
        }
        .sorting-item{
            font-size: 17px;
            letter-spacing: 1.02px;
            font-weight: 600;
        }
        .catalog-link{
            color:#000;
            background-color: $secondary-color;
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 10px;
            position: relative;
            &::before{
                content:'';
                position: absolute;
                background-image: url(../img/arrow.svg);
                width: 20px;
                height: 16px;
                right: 13px;
                margin-top: 1px;
            }
        }
        .link-quantity{
            padding-left: 50px;
            padding-right: 42px;
            &::after{
                content:'';
                position: absolute;
                background-image: url(../img/bouquet.png);
                width: 24px;
                height: 35px;
                left: 12px;
                margin-top: -8px;
            }
        }
        .link-color{
            padding-left: 49px;
            padding-right: 40px;
            &::after{
                content:'';
                position: absolute;
                background-image: url(../img/eyedropper.png);
                width: 28px;
                height: 28px;
                left: 12px;
                margin-top: -6px;
            }
        }
        .link-cost{
            padding-left: 47px;
            padding-right: 38px;
            &::after{
                content:'';
                position: absolute;
                background-image: url(../img/price-tag.png);
                width: 33px;
                height: 33px;
                left: 6px;
                margin-top: -6px;
            }
        }
        &__form{
            display: flex;
            width: 30%;
            height: 56px;
        }
        .catalog-form-input{
            flex-grow:1;
            margin-right: 10px;
            border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #242424;
            opacity: 0.62;
            padding-left: 20px;
            outline: none;
        }
        .catalog-form-btn{
            flex-basis: 89px;
            border-radius: 10px;
            border:none;
            background-color: #8fa164;
            position: relative;
            cursor: pointer;
            outline: none;
            &::before{
                content:"";
                position: absolute;
                background-image: url(../img/search-icon.png);
                background-repeat: no-repeat;
                width:23px;
                height: 24px;
                left: 33px;
                top: 17px;
            }
            &:active{
                background-color: rgba(143,161,100, 0.9);
            }
        }
    }  
}

/* === products ===*/
.section-products{
    &-wrapper{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &-item{
        width: 270px;
        height: 263px;
        border-radius: 20px;
        background-color: $secondary-color;
        position: relative;
        margin-top: 60px;
        text-align: center;
        transition: 300ms;
        z-index: 5;
        &:hover{
            transform: scale(1.03, 1.03);
            transition: 300ms;
            margin-right: 10px;
            margin-left: 10px;
            box-shadow: 0px 5px 7px rgba(99, 44, 71, 0.33);
        }
        &:hover .section-products-item__btn{
            display: block;
            z-index: 2;
        }
        &__image{
            position: absolute;
            top:0;
        }
        &__btn{
            position: absolute;
            top:0;
            right: 0;
            bottom:0;
            left:0;
            display: none;
            background: linear-gradient(45deg, rgba(224,193,208, 0.5), rgba(255,255,255, 0.5));
            border-radius: 20px;
            animation: product-btn 1s 1;
            .products-btn{
                font-size: 14px;
                padding: 12px 20px 12px 35px;
                margin-top: 65px;
                position: relative;
                z-index:10;
                &::before{
                    content:"";
                    position: absolute;
                    background-image: url(../img/shopping-cart.png);
                    background-size: 16px 16px;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                    left:10px;
                }
            }
        }
        @keyframes product-btn {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            } 
        }
        &__name{
            margin-top: 180px;
            color: #242424;
            font-size: 15px;
            font-weight: 700;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 0.9px;
        }
        &__cost{
            color: #242424;
            font-family: $font-Roboto;
            font-size: 15px;
            line-height: 24px;
            text-transform: uppercase;
            letter-spacing: 0.78px;
            width: 30%;
            margin: auto;
            padding-bottom:5px;
            padding-top:5px;
            margin-top: 10px;
            border-radius: 30px;
            border: 1px solid #80405f;
            position: relative;
        }
    }
    &-link{
        text-align: right;
        margin-top: 60px;
        margin-right: 10px;
        padding-bottom: 80px;
    }
    .products-link{
        padding: 20px 50px 20px 50px;
        border-radius: 10px;
        border: 1px solid #242424;
        background: none;
        cursor: pointer;
        outline: none;

        color: #242424;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 1.02px;
        transition: 300ms;
        &:hover{
            box-shadow: 0 10px 15px rgba(99, 44, 71, 0.2);
            transition: 300ms;
        }
        &:active{
            background-color: rgba(0,0,0, 0.1);
        }
        
    }
}
/* === /products ===*/

/* === others ===*/
.section-others{
    background-image: url(../img/others-background.png);
    position:relative;
    z-index:9;

    .others-decoration{
        position: absolute;
        left:20px;
        top:20px;
        height: 95%;
        width: auto;
        z-index:-2;
    }
    &-title{
        text-align: center;
        color: #242424;
        font-size: 36px;
        letter-spacing: 2.16px;
        padding-top:60px;
        z-index:10;;
    }
    &-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 50px;
        z-index:10;
        &__text{
            padding-right: 30px;
            max-width:421px;
        }
        &__image{}
    }
    &-slider{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-top: 56px;
        padding-bottom: 70px;
        z-index:10;
        ;
        &__link{
            opacity: 0.64;
            margin-left: 5px;
            margin-right: 5px;
            z-index:2;
            &:hover{
                opacity: 1;
            }
        }
    }
}
/* === /others ===*/

/* === footer ===*/
.section-footer{
    background-image: url(../img/footer-background.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 547px;
    position: relative;
    .footer-decoration-1{
        position: absolute;
        left: 0;
        bottom: -130px;
        width:38%;
        z-index: -1;
    }
    .footer-decoration-2{
        position: absolute;
        right:0;
        bottom: 0;
        bottom: -130px;
        width:38%;
        z-index: -1;
    }
    &-title{
        text-align: center;
        font-size: 36px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2.16px;
        padding-top: 60px;
        margin-bottom: 50px;
    }
    &-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &-social{
       
        &__image{
            margin-bottom: 30px;
            text-align: center;
        }
        &__copyright{
            opacity: 0.73;
            color: #000000;
            font-family: "Open Sans", sans-serif;
            font-size: 13px;
            font-weight: 300;
            margin-bottom: 10px;
        }
        &__logo{
            font-family: $font-GreatVibes;
            font-size: 24px;
            letter-spacing: 1.44px;
            margin-bottom: 15px;
        }
        &__btn{
            display: flex;
            .social-item{
                margin-right: 13px;
            }
        }
    }
    &-map{}
    &-form{
        text-align: center;
        z-index: 100;
        &__title{
            color: #242424;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        &__subtitle{
            font-size: 14px;
            letter-spacing: 0.84px;
            margin-bottom: 30px;
        }
        &__input{
            .footer-input{
                font-family: inherit;
                font-size: 13px;
                width: 205px;
                border-radius: 20px;
                border:none;
                background-color: #ffffff;
                padding: 15px 0px 15px 25px;
                margin-bottom: 15px;
                outline: none;
            }
        }
        &__btn{
            .footer-btn{
                width: 230px;
                border-radius: 20px;
                font-size: 14px;
                letter-spacing: 0.84px;
                padding-top: 17px;
                padding-bottom: 17px;
                
            }
        }
    }
    &-nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 160px;
        padding-bottom: 64px;
        margin-left: 45px;
        z-index: 100;
    }
}
/* === /footer ===*/