include blocks/content.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="build/css/style.css")
    body
        .header
            .header__container
                .header__nav
                    .header__logo(class="logo") raw
                    ul.header__nav-list
                        li.header__nav-item
                            a.header__nav-link(href="") stoty
                        li.header__nav-item
                            a.header__nav-link(href="") fresh
                        li.header__nav-item
                            a.header__nav-link(href="") local
                        li.header__nav-item
                            a.header__nav-link(href="") contacts
                .header__main
                    .header__wrapper
                        .header__content
                            img(class="header__content-image" src="../../src/img/header-main.svg")
                .header__swipe
                    img(class="header__swipe-arrow" src="../../src/img/ARROW.svg")
        .story
            .story__container
                .story__wrapper
                    .story__content
                        .story__content-wrapper
                            +content('our story', 'Lorem ipsum dolor sit amet, consectetuer leo semper wisi lacinia, in distinctio, pede suspendisse aliquet nibh tempor arcu in, fermentum praesent iaculis mauris adipiscing mauris. Non dapibus in fusce purus dolor sit, proin aenean, sollicitudin quis ultricies tincidunt duis, varius feugiat dictum id congue suspendisse lectus.')
                    .story__image
        .fresh
            .fresh__container
                .fresh__wrapper
                    .fresh__image
                    .fresh__content
                        .fresh__content-wrapper
                            +content('fresh', 'Lorem ipsum dolor sit amet, consectetuer leo semper wisi lacinia, in distinctio, pede suspendisse aliquet nibh tempor arcu in, fermentum praesent iaculis mauris adipiscing mauris. Non dapibus in fusce purus dolor sit, proin aenean, sollicitudin quis ultricies tincidunt duis, varius feugiat dictum id congue suspendisse lectus.')
        .local
            .local__container
                .local__wrapper
                    .local__content
                        .local__content-wrapper
                            +content('LOCAL DISTILLATION', 'Lorem ipsum dolor sit amet, consectetuer leo semper wisi lacinia, in distinctio, pede suspendisse aliquet nibh tempor arcu in, fermentum praesent iaculis mauris adipiscing mauris. Non dapibus in fusce purus dolor sit, proin aenean, sollicitudin quis ultricies tincidunt duis, varius feugiat dictum id congue suspendisse lectus.')
                    .local__image
        .picture
        .footer
            .footer__container
                .footer__logo(class="logo") raw
                .footer__wrapper
                    .footer__contacts
                        .footer__contacts-text
                        .footer__contacts-text
                    .footer__social
                        ul.footer__social-list
                            li.footer__social-item
                                a.footer__social-link(href="")
                                    img(src="", alt="")
                            li.footer__social-item
                                a.footer__social-link(href="")
                                    img(src="", alt="")
                            li.footer__social-item
                                a.footer__social-link(href="")
                                    img(src="", alt="")
