@import url(https://fonts.googleapis.com/css?family=Lobster|Montserrat:400,500,600,700&display=swap&subset=cyrillic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.section-inner {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  max-width: 1140px;
  margin: auto;
  position: relative; }
  .section-inner-logo {
    position: absolute;
    left: 0px;
    top: 10px; }
  .section-inner-sign {
    position: absolute;
    right: 0;
    top: 15px; }

.section-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%; }

.scene {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.layer {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100%; }
  .layer-bg {
    background-image: url(../img/bg.png);
    background-position: 50% 25%;
    background-size: cover; }
  .layer-bg-2 {
    background-image: url(../img/bg-2.png);
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: cover;
    z-index: -10; }
  .layer-ball {
    background-image: url(../img/air-baloon.png);
    background-repeat: no-repeat;
    background-position: 85% 37%;
    background-size: 24%;
    z-index: 0; }
  .layer-shadow {
    background-image: url(../img/air-baloon-shadow.png);
    background-repeat: no-repeat;
    background-position: 84% 43%;
    background-size: 23%;
    z-index: -5; }

.section-nav {
  width: 100%; }

.section-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  width: 100%;
  margin-bottom: 20px; }
  .section-footer-social {
    width: 270px; }
    .section-footer-social__list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative; }
      .section-footer-social__list::before {
        content: "";
        position: absolute;
        background-image: url(../img/Line.svg);
        background-repeat: no-repeat;
        left: 0;
        top: 22px;
        width: 62px;
        height: 2px; }
      .section-footer-social__list-item {
        margin-left: 5px;
        margin-right: 5px; }
  .section-footer .buttons-block {
    display: flex;
    justify-content: space-around;
    width: 140px; }
    .section-footer .buttons-block .arrow-btn {
      width: 51px;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 15px;
      cursor: pointer; }
  .section-footer-price {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;
    width: 270px;
    color: #FFFFFF;
    position: relative;
    text-align: right; }
    .section-footer-price::before {
      content: "";
      position: absolute;
      background-image: url(../img/Line.svg);
      background-repeat: no-repeat;
      left: 0;
      top: 12px;
      width: 62px;
      height: 2px; }
  .section-footer .line-decoration {
    position: relative; }

.section-content {
  align-self: flex-start; }

.dots-block {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: auto;
  cursor: pointer; }

.dots-item {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  color: #fff;
  position: relative;
  z-index: 0;
  opacity: 1;
  padding: 6px; }
  .dots-item:hover:before, .dots-item:hover:after {
    opacity: 0.9;
    width: 100%; }
  .dots-item:before, .dots-item:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 1px;
    content: '';
    background: #fff;
    transition: all 0.2s; }
  .dots-item:before {
    left: 0px;
    top: 0px; }
  .dots-item:after {
    right: 0;
    bottom: 0; }

.active {
  color: #fff;
  position: relative;
  z-index: 0;
  opacity: 1;
  font-weight: 500; }

.slides-item {
  animation: slides 1.7s 1;
  animation-timing-function: ease; }
  .slides-item-title {
    color: #fff;
    font-family: "Lobster", cursive;
    font-size: 65px;
    line-height: 90px;
    letter-spacing: 0.05em; }
  .slides-item .title-1 {
    padding-top: 50px; }
  .slides-item .title-2 {
    padding-left: 150px; }
  .slides-item-button {
    margin-left: auto;
    width: 330px;
    margin-top: 50px; }
    .slides-item-button .btn {
      color: #fff;
      border: 2px solid #FFFFFF;
      padding: 17px 75px 17px 75px;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: bold;
      border-radius: 40px;
      background: none;
      cursor: pointer; }
  .slides-item .wrapper-card {
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .slides-item .slides-card {
    width: 100%; }
  .slides-item .container-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap; }
    .slides-item .container-center img {
      width: 99%; }
  .slides-item .card {
    perspective: 1000px;
    transform-style: preserve-3d; }
    .slides-item .card-item {
      width: 100%;
      margin-bottom: 30px;
      transition: 0.2s;
      cursor: pointer; }

@keyframes slides {
  from {
    transform: translateX(-30%);
    opacity: 0; }
  to {
    transform: translateX(0%);
    opacity: 1; } }
