@import url(https://fonts.googleapis.com/css?family=Lobster|Montserrat:400,500,600,700&display=swap&subset=cyrillic);
@import url("https://fonts.googleapis.com/css?family=PT+Sans&display=swap&subset=cyrillic");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.section-inner {
  max-width: 1140px;
  margin: auto;
  height: 100vh;
  position: relative;
  padding-left: 10px;
  padding-right: 10px; }
  .section-inner-logo {
    position: absolute;
    left: 0;
    top: 10px;
    width: 50px;
    height: 50px; }
    .section-inner-logo img {
      width: 90%; }
  .section-inner-sign {
    position: absolute;
    right: 7px;
    top: 10px;
    width: 50px;
    height: 50px; }
    .section-inner-sign img {
      width: 90%; }

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%; }

.slides-item {
  width: 100%;
  animation: slides 1s 1; }

@keyframes slides {
  from {
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

.scene {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .scene .layer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%; }
  .scene-decoration {
    background-image: url(../img/bg.png);
    background-size: cover; }
  .scene-baloon {
    background-image: url(../img/air-baloon.png);
    background-repeat: no-repeat;
    background-position: 85% 37%;
    background-size: 24%;
    z-index: 0; }
  .scene-shadow {
    background-image: url(../img/air-baloon-shadow.png);
    background-repeat: no-repeat;
    background-position: 84% 43%;
    background-size: 23%;
    z-index: -5; }
  .scene-bg {
    background-image: url(../img/bg-2.png);
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: cover;
    z-index: -10; }
  .scene-logo {
    position: absolute;
    left: 10%;
    top: 20px; }
  .scene-sign {
    position: absolute;
    right: 10%;
    top: 20px; }

.section-nav__dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 400px;
  margin: auto;
  cursor: pointer; }
  .section-nav__dots .dots-item {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #fff;
    position: relative;
    z-index: 0;
    padding: 6px; }
  .section-nav__dots .active {
    color: #fff;
    position: relative;
    z-index: 0;
    position: relative; }
    .section-nav__dots .active::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-bottom: 1px solid #fff;
      animation: active 0.35s 1; }

@keyframes active {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }

.section-main {
  width: 100%;
  z-index: 100; }
  .section-main__title {
    color: #fff;
    font-family: "Lobster", cursive;
    font-size: 65px;
    line-height: 90px;
    letter-spacing: 0.05em; }
  .section-main .title-bottom {
    padding-left: 150px; }
  .section-main__button {
    margin-left: auto;
    width: 330px;
    margin-top: 50px;
    margin-right: 28%; }
  .section-main__button .btn {
    color: #fff;
    border: 2px solid #fff;
    height: 70px;
    width: 265px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
    background: none;
    cursor: pointer;
    transition: all 0.35s ease;
    outline: none;
    position: relative;
    overflow: hidden; }
    .section-main__button .btn::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      z-index: -1;
      background-color: #fff;
      transition: all 0.35s ease; }
    .section-main__button .btn:hover {
      color: #EACBAC;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1); }
    .section-main__button .btn:hover::before {
      transition: all 0.35s ease;
      left: 0;
      right: 0;
      opacity: 1; }
    .section-main__button .btn:active {
      -webkit-transform: translate(5px, 5px);
      transform: translate(5px, 5px); }
  .section-main__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    background: #EACBAC;
    color: #fff;
    border-radius: 40px; }
    .section-main__about-wrapper {
      padding-left: 50px;
      padding-right: 50px;
      max-width: 500px; }
    .section-main__about-title {
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 48px;
      margin-bottom: 30px; }
    .section-main__about-text {
      font-family: 'PT Sans', sans-serif;
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 30px; }
  .section-main .card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .section-main__card {
    width: 20%; }
    .section-main__card img {
      width: 100%; }
    .section-main__card-item {
      margin-bottom: 20px;
      position: relative;
      cursor: pointer;
      border-radius: 40px;
      overflow: hidden;
      transition: all 0.35s ease; }
      .section-main__card-item:active {
        -webkit-transform: translate(7px, 7px);
        transform: translate(7px, 7px); }
      .section-main__card-item:after {
        content: "";
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-image: url(../img/corner.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background: cover;
        background-size: 96%;
        visibility: hidden;
        transition: all 0.35s ease;
        opacity: 0;
        transform: scale(0.5); }
      .section-main__card-item:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        bottom: 5px;
        background-color: rgba(0, 0, 0, 0.4);
        background-image: url(../img/only-heart.svg);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background: cover;
        background-size: 20%;
        visibility: hidden;
        transition: all 0.35s ease;
        opacity: 0; }
      .section-main__card-item:hover::before {
        visibility: visible;
        animation: heart 1s 1;
        opacity: 1; }
      .section-main__card-item:hover::after {
        visibility: visible;
        opacity: 1;
        transform: scale(1); }
  .section-main .card-center {
    width: 59%; }
  .section-main .card_center-wrapper {
    display: flex;
    justify-content: space-around; }
  .section-main .vertical-card:after {
    background-image: url(../img/corner_vertical.svg);
    background-size: 87%; }
  .section-main .small-card:after {
    background-image: url(../img/corner-small.svg);
    background-size: 83%; }
  .section-main__contact {
    background-image: url(../img/map.png);
    color: #fff;
    width: 100%; }
    .section-main__contact-content {
      font-family: "Montserrat", sans-serif;
      width: 40%;
      background-color: #EACBAC;
      border-radius: 40px;
      text-align: center;
      height: 511px;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
    .section-main__contact-wrapper {
      width: 100%; }
    .section-main__contact-title {
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 40px;
      text-transform: uppercase; }
    .section-main__contact-form {
      margin-bottom: 20px;
      margin-top: 20px; }
    .section-main__contact-input .input-name,
    .section-main__contact .input-phone {
      width: 80%;
      margin: auto;
      background-color: #fff;
      border: none;
      border-radius: 40px;
      outline: none;
      padding-left: 26px;
      margin-bottom: 40px;
      height: 60px;
      position: relative; }
    .section-main__contact-button .btn {
      color: #fff;
      border: 2px solid #fff;
      height: 70px;
      width: 265px;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      font-weight: bold;
      border-radius: 40px;
      background: none;
      cursor: pointer;
      transition: all 0.35s ease;
      outline: none;
      position: relative;
      overflow: hidden;
      background: #EACBAC;
      z-index: 100; }
      .section-main__contact-button .btn::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        z-index: -1;
        background-color: #fff;
        transition: all 0.35s ease; }
      .section-main__contact-button .btn:hover {
        color: #EACBAC;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1); }
      .section-main__contact-button .btn:hover::before {
        transition: all 0.35s ease;
        left: 0;
        right: 0;
        opacity: 1; }
      .section-main__contact-button .btn:active {
        -webkit-transform: translate(5px, 5px);
        transform: translate(5px, 5px); }
      .section-main__contact-button .btn:hover::before {
        color: #EACBAC; }
    .section-main__contact-data {
      font-weight: bold;
      font-size: 18px;
      padding-bottom: 5px; }

.section-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
  width: 100%;
  margin-bottom: 20px; }
  .section-footer__social {
    width: 270px; }
    .section-footer__social-list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: relative; }
      .section-footer__social-list::before {
        content: "";
        position: absolute;
        background-image: url(../img/Line.svg);
        background-repeat: no-repeat;
        left: 0;
        top: 22px;
        width: 62px;
        height: 2px; }
    .section-footer__social-item {
      height: 44px;
      width: 44px;
      margin-left: 5px;
      margin-right: 5px;
      transition: all 0.35s ease;
      border-radius: 20px;
      position: relative;
      cursor: pointer; }
      .section-footer__social-item::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.1);
        opacity: 0;
        transition: all 0.35s ease;
        border-radius: 60%; }
      .section-footer__social-item:hover::before {
        opacity: 1; }
      .section-footer__social-item:active {
        -webkit-transform: translate(6px, 6px);
        transform: translate(6px, 6px);
        transition: all 0.35s ease; }
  .section-footer__arrow {
    z-index: 100; }
    .section-footer__arrow-wrapper {
      display: flex;
      justify-content: space-around;
      width: 140px; }
    .section-footer__arrow-btn {
      width: 51px;
      height: 51px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 15px;
      cursor: pointer;
      transition: all 0.35s ease; }
      .section-footer__arrow-btn:hover {
        background: rgba(0, 0, 0, 0.1); }
      .section-footer__arrow-btn:active {
        background: rgba(255, 255, 255, 0.3); }
  .section-footer__price {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 270px;
    color: #FFFFFF;
    position: relative;
    text-align: right; }
    .section-footer__price::before {
      content: "";
      position: absolute;
      background-image: url(../img/Line.svg);
      background-repeat: no-repeat;
      left: 0;
      top: 12px;
      width: 62px;
      height: 2px; }

@keyframes heart {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
