@import 'normalize.scss';

/* === VARIABLE ===*/
$font-Montserrat: 'Montserrat', sans-serif;
$font-Lato: 'Lato', sans-serif;
$font-Ubuntu: 'Ubuntu', sans-serif;

$main-color: #0A9153;
$secondary-color: #F2F2F2;
$btn-color: #27AE60;
$text-color: #37373F;

$media-sm: 540px;
$media-md: 768px;
$media-lg: 960px;
$media-xl: 1140px;

$media-min-sm: 541px;
$media-min-md: 769px;
$media-min-lg: 961px;
$media-min-xl: 1141px;

/* === VARIABLE ===*/


/* === MIXINS === */
@mixin background {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
/* === /MIXINS ===*/

body{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style:none;
    padding: 0;
    margin: 0;
}
.btn{
    padding: 22px 59px 22px 59px;
    background-color:$btn-color;
    border-radius: 11px;
    border:none;
    color:#fff;
    transition: 300ms;

    font-family: $font-Ubuntu;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover{
    box-shadow: 0px 4px 25px rgba(255, 255, 255, 0.44), 0px 4px 15px rgba(39, 174, 96, 0.83);
    transition: 200ms;
}
.content-header{
    text-align: center;
    background-color: $secondary-color;
    color:#37373F;
    margin-top: 80px;
    margin-bottom: 80px;
}
.content-title{
    font-family: $font-Ubuntu;
    font-weight: 500;
    font-size: 36px;
    padding-bottom: 20px;
    padding-top: 56px;
}
.content-subtitle{
    font-family: $font-Lato;
    font-weight: 300;
    font-size: 20px;
    line-height: 124.9%;
    padding-bottom: 56px;
    opacity: 0.9;
    width:75%;
    margin: auto;
}
.ruble{
    font-family: 'PT Sans', serif;
}
.geolocation{
    font-family: $font-Ubuntu;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    &::after{
        content:"";
        position: absolute;
        background-image: url(../img/Arrow.svg);
        background-repeat: no-repeat;
        width: 11px;
        height: 6px;
        right:-15px;
        top:7px;

    }
}
.geolocation-link{
    color: $text-color;
}
.section-outer{
    padding-right: 20px;
    padding-left: 20px;
}
.section-inner{
    max-width:1140px;
    margin: auto;
}



/* === header === */
.section-header{
    &-wrapper{
        display: flex;
        width:65%;
        justify-content: space-between;
    }
    &-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        background-color: #fff;
        &__geolocation{
            color: $text-color;
            flex-shrink: 2;
        }
        &__logo{
            font-family: $font-Montserrat;
            font-size: 21px;
            letter-spacing: 0.065em;
            margin-left: 70px;
        }
        &__phone{
            font-family: $font-Ubuntu;
            color:$text-color;
            font-weight: 300;
            font-size: 18px;
            .phone-text{
                opacity: 0.5;
                font-size: 16px;
            }
        }
    }
}
@media (max-width:$media-md){
    .section-header-wrapper{
        display: block;
    }
    .section-header-top__logo{
        margin: 0;
        padding-bottom: 10px;
    }
}
@media (max-width:$media-sm){
    .section-header-wrapper{
        width: auto;
        margin:auto;
        
    }
    .section-header-top__geolocation{
        display: none;
    }
}
/* === /header ===*/

/* === nav === */
.section-nav{
    background-color:$main-color;
    font-family: $font-Ubuntu;
    font-size: 18px;
    position: relative;
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height:65px;
        &-item{
            .item-link{
                color:#fff;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}
/*=== hidden menu ===*/
.hidden-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    
    
}
.hidden-menu-btn{
    background: none;
    border: none;
    outline:none;
    cursor: pointer;
    position: absolute;
    top:20px;
    &:hover{
        opacity: 0.7;
    }
}
.hidden-geolocation{
    color:#fff;
    position: absolute;
    right: 30px;
    top: 25px;
}
/*=== /hidden menu ===*/
@media (max-width:$media-sm){
   .hidden-nav{
       display: flex;
   }
    .item-link{
        display: none;
    }
 }
@media (max-width:$media-md){
   .section-nav{
       font-size: 16px;
   }
}

/* === /nav ===*/

/* === intro === */
.section-intro{
    background-image: url(../img/intro-background.png);
    @include background;
    height: 100vh;
    margin-top: -2px;

    display: flex;
    justify-content: center;
    align-items: center;
    &-wrapper{
       width: 70%;
       margin:auto;
    }
    &-content{
        text-align: center;
        color:#fff;
        &__subtitle{
            font-family: $font-Ubuntu;
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 0.045em;
            margin-bottom: 20px;
        }
        &__title{
            font-family: $font-Ubuntu;
            font-weight: bold;
            font-size: 50px;
            letter-spacing: 0.045em;
            margin-bottom: 20px;
        }
        &__text{
            font-family: $font-Lato;
            font-weight: bold;
            font-size: 20px;
            width:70%;
            margin: auto;
        }
    }
}
@media (max-width:$media-md){
    .section-intro-wrapper{
        width:100%;
    }
 }
 @media (max-width:$media-sm){
    .section-intro-content{
        text-align: left;
    }
    .section-intro-content__title{
        font-size: 30px;
        width:70%;
    }
    .section-intro-content__subtitle{
        font-size: 16px;
        font-weight: 400;
    }
    .section-intro-content__text{
        margin: 0;
        font-size: 16px;
        line-height: 135.9%;
    }
 }

/* === /intro ===*/

/* === products === */
.section-products{
    &-discont{
        background-image: url(../img/Rectangle.png);
        @include background;
        height: 460px;
        color:#fff;
        padding-left: 40px;
        &__title{
            font-family: $font-Ubuntu;
            font-weight: bold;
            font-size: 55px;
            padding-top: 54px;
        }
        &__price{
            font-family: $font-Lato;
            font-weight: 800;
            font-size: 45px;
            padding-top: 5px;
            position: relative;
            &::after{
                content:"";
                position: absolute;
                background-image:url(../img/Line.png);
                background-repeat: no-repeat;
                left:-5px;
                top:15px;
                width:150px;
                height: 60px;
            }
        }
        &__discont-price{
            font-family: $font-Lato;
            font-weight: 800;
            font-size: 50px;
            color:#000;
            padding: 23px;
            width: 400px;   
            background-color:#fff;
            text-align: center;
            margin-top: 34px;
        }
        &__btn{
            padding-top: 33px;
        }
    }
    &-catalog{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .catalog-item{
            color: $text-color;
            width: 350px;
            margin-top: 50px;
            &-image{
                position: relative;
                &__price{
                    position: absolute;
                    bottom:20px;
                    left:13px;
                    font-family: $font-Lato;
                    font-weight: 800;
                    font-size: 20px;
                    padding: 10px;
                    background-color: #fff;
                    border-radius: 6px;
                }
            }
            &-title{           
                font-family: $font-Ubuntu;
                font-weight: bold;
                font-size: 20px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            &-others{
                font-family: $font-Lato;
                font-size: 18px;
                margin-bottom: 20px;
                &__wrapper{
                    display: flex; 
                    align-items: center;
                    margin-top: 10px;
                }
                &__star{
                    margin-left: 5px;
                    margin-right: 5px;
                }
            }
            &-text{
                
                font-family: $font-Lato;
                font-weight: 300;
                font-size: 18px;
                margin-bottom: 20px;
            }
        }
    }
    &-pages{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 100px;
        margin-bottom: 136px;
        &__item{
            margin-left: 10px;
            margin-right: 10px;
            font-family: $font-Lato;
            font-size: 18px;
            cursor:pointer;
        }
        .page{
            padding: 4px 10px 6px 10px;
        }
        .arrow:hover{
            opacity: 0.7;
        }
        .arrow:active{
            opacity: 1;
        }
    }
}
@media (max-width:$media-md){
    .section-products{
       padding: 0;
    }
 }
 @media (max-width:$media-sm){
    .content-subtitle{
        width:90%;
        font-size: 16px;
    }
    .section-products-discont{
        padding-left: 20px;
    }
    .section-products-discont__title{
        font-size: 40px;
    }
    .section-products-discont__price{
        font-size: 35px;
    }
    .section-products-discont__discont-price{
        font-size: 35px;
        width:80%;
    }
    .section-products{
       padding: 0;
    }
 }
/* === /products ===*/

/* === ideas === */
.section-ideas{
    background-image:url(../img/ideas-background.png);
    @include background;
    min-height: 500px;
    &-content{
        color:$text-color;
        width:50%;
        background: #E0E0E0;
        opacity: 0.9;
        height: 500px;

        &__title{
            font-family: $font-Ubuntu;
            font-weight: bold;
            font-size: 36px;
            padding-left: 30px;
            padding-top: 80px;
            
        }
        &__text{
            font-family: $font-Lato;
            font-size: 20px;
            line-height: 134.9%;
            padding-top: 30px;
            padding-left: 30px;
            width:80%;
        }
    }
}
@media(max-width:$media-lg) {
    .section-ideas-content{
        width:90%;
    }
    .section-ideas-content__text{
        font-size: 19px;
    }
}
@media(max-width:$media-sm) {
    .section-ideas-content{
        width:100%;
    }
    .section-ideas-content__text{
        font-size: 18px;
    }
    .section-ideas-content__title{
        font-size: 26px;
        padding-top: 35px;
    }
}
/* === /ideas ===*/

/* === landscape === */
.section-landscape{
    &-wrapper{
        display: flex;
        margin-top: 80px;
        
    }
    &-image{
        transition: 500ms;
        width:40%;
        &:hover{
            transform: scale(1.05, 1.05);
            transition: 500ms;
        }
    }
    .section-landscape-image img{
        width:100%;
    }
    &-content{
        font-family: $font-Lato;
        color: $text-color;
        max-width: 525px;
        font-size: 18px;
        font-weight: 300;
        line-height: 124.9%;
        margin-left: 30px;
        &__title{
            font-family: $font-Ubuntu;
            font-weight: 500;
            font-size: 30px;
            line-height: 124.9%;    
            margin-bottom: 20px;
        }
        &__text{
            margin-bottom: 18px;
        }
        &__link{
            margin-bottom: 33px;
            position: relative;
            &::before{
                content:"";
                position: absolute;
                background-image: url(../img/arrow-link.svg);
                background-repeat: no-repeat;
                left:160px;
                top:7px;
                width: 11px;
                height: 11px;
            }
            .landscape-link{
                color: #0A9153;
            }
        }
        &__price{
            margin-bottom: 10px;
        }
        .text-weight{
            color: #000;
            font-weight: bold;
            font-size:17px;
        }
        &__plants{
            line-height: 25px;
        }
    }
}
@media (max-width:$media-md){
    .section-landscape-content{
        font-size: 16px;
    }
    .section-landscape-content__title{
        font-size: 26px;
    }
}
@media(max-width:$media-sm){
    .section-landscape-wrapper{
        display: block;
    }
    .section-landscape-content{
        margin-left: 0px;
        margin-top: 20px;
    }
    .section-landscape-image{
        width:90%;
        
    }
}
/* === /landscape ===*/

/* === portfolio === */
.section-portfolio{
    &-carousel{
        width:90%;
        overflow: hidden;
        &__list{
            width: 9999px;
            height: 300px;
            display: flex;
            &-item{
                .item-image{
                    display: block;
                }
            }
        }
    }
}
/* === /portfolio ===*/

/* === delivery === */
.section-delivery{
  
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/delicery-background.png);
    @include background;
    height:360px;
    margin-top: -80px;

    &-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-content{
        font-family: $font-Lato;
        text-align: center;
        color:#fff;
        &__title{
            font-weight: 800;
            font-size: 38px;
            padding-top: 44px;
            padding-bottom: 30px;
        }
        &__subtitle{
            width:40%;
            margin: auto;
            font-weight: 500;
            font-size: 20px;
            line-height: 138.36%;
            padding-bottom: 30px;
        }
        &__btn button{
            margin-left: 15px;
            margin-right: 15px;
            padding-left: 60px;
            padding-right: 110px;
            position: relative;
            margin-bottom: 10px;
        }
        .delivery-btn-1{
            &::before{
                content:"";
                position: absolute;
                background-image: url(../img/doc.svg);
                background-repeat: no-repeat;
                right:50px;
                top:13px;
                width: 35px;
                height: 35px;
            }
        }
        .delivery-btn-2{
            &::before{
                content:"";
                position: absolute;
                background-image: url(../img/phone.svg);
                background-repeat: no-repeat;
                right:50px;
                top:13px;
                width: 35px;
                height: 35px;
            } 
        }
    }
}
@media(max-width:$media-sm){
    .section-delivery-content__subtitle{
        width:100%;
        font-size: 16px;
    }
    .section-delivery-content__title{
        font-weight: 500;
        font-size: 30px;
    }
    .section-delivery-content__btn button{
        font-size: 14px;
        padding-left: 50px;
        padding-right: 100px;
        
    }
}
@media(min-width:$media-min-sm)and(max-width:$media-md){
    .section-delivery-content__subtitle{
        width:80%;
        font-size: 18px;
    }
    .section-delivery-content__btn button{
        font-size: 16px;
        
    }
    .section-delivery-content__subtitle{
        padding-bottom: 15px;
    }
}
@media(min-width:$media-min-md){
   
    .section-delivery-content__subtitle{
        padding-bottom: 35px;
    }
    .section-delivery-content__subtitle{
        width:80%;
        font-size: 18px;
    }
}
/* === /delivery ===*/



/* === footer === */
.section-footer{
    background-color: $main-color;
    &-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-content{
        width: 50%;
        font-family: $font-Lato;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color:#fff;
        &-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        &__title{
            font-family: $font-Ubuntu;
            font-weight: bold;
            font-size: 36px;
            text-align: center;
            padding-top: 32px;
            padding-bottom: 37px;
        }
        &__phone{
            position: relative;
            &::before{
                content:"";
                position: absolute;
                background-image: url(../img/phone-2.svg);
                background-repeat: no-repeat;
                width: 22px;
                height: 22px;
                left: -30px;
            }
        }
        &__geolocation{
            position: relative;
            &::before{
                content:"";
                position: absolute;
                background-image: url(../img/geolocation.svg);
                background-repeat: no-repeat;
                width: 22px;
                height: 22px;
                left: -30px;
                top:5px;
            }
        }
        &__email{
            position: relative;
            &::before{
                content:"";
                position: absolute;
                background-image: url(../img/mail.svg);
                background-repeat: no-repeat;
                width: 22px;
                height: 22px;
                left: -30px;
            }
        }
        &__time{
            padding-right: 126px;
            position: relative;
            &::before{
                content:"";
                position: absolute;
                background-image: url(../img/time.svg);
                background-repeat: no-repeat;
                width: 22px;
                height: 22px;
                left: -30px;
            }
        }
    }
    &-social{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 20px;
        &__link{
            margin-left: 5px;
            margin-right: 5px;
        }
    }
    &-copyright{
        text-align: center;
        padding-bottom: 20px;
    }
}
@media(max-width:$media-lg){
    .section-footer-content{
        width:90%;
    }
}
@media(max-width:$media-lg){
    .section-footer-content-wrapper{
        display: block;
    }
    .section-footer-content__geolocation{
        margin-top: 20px;
    }
    .section-footer-content__time{
        margin-top: 20px ;
    }
}

/* === /footer ===*/